@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Scratchy';
	font-style: normal;
	font-weight: 400;
	src: local('Scratchy') format('ttf');
}
